html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;

}

body{
    min-width: 320px;
    background-color: var(--body);
}



/* MENU */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem;
    transition: .3s ease;
}

.header.scroll{
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.5);
    background: var(--bg-opacity) ;
    backdrop-filter: var(--blur);
}

.header .flex{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--main-color);
    transition: .5s ease-in-out;
}

.header .flex .logo:hover{
    color: var(--main-color-hover);

}

.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);
}

.header .flex .navbar a:hover{
    color: var(--main-color-hover);

}

#menu-btn{
    cursor: pointer;
    display: none;
    font-size: 2rem;
}

/* HOME */
.home{
    min-height: 100vh;
}
.home::before{
    z-index: 888;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, var(--body));
}

.bg-slider{
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.bg-slider .swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content{
    position: absolute;
    top: 25%;
    color: var(--main-color);
    margin: 0 200px;
}

.swiper-slide .text-content .title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title{
    transform: translateY(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: .3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .description{
    max-width: 700px;
    font-size: 2rem;
    text-align: justify;
    background: var(--bg-opacity) ;
    backdrop-filter: var(--blur);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transform: translateX(5rem);
    opacity: 0;
}

 .read-btn{
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s ease;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content .description,
.read-btn {
    transform: translateX(0px);
    opacity: 1;
    transition: 2s ease;
    transition-delay: .3s;
    transition-property: transform, opacity;
}

.read-btn:hover{
    background-color:  rgb(184, 178, 178);
}

.bg-slider-thumbs{
    z-index: 999;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.thumbs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-opacity);
    backdrop-filter: var(--blur);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

}

.thumbs-container img{
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: .5rem;
    cursor: pointer;
}

.swiper-slide-thumb-active{
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.3);
}

.dark-layer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* ABOUT */

.about{
    padding: 4rem;
    background-color: var(--body);
}

.about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
}

.about .row .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50rem;
}

.about .row .content .title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-color);
}

.about .row .content .description{
    padding-left: 1rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: justify;
    color: var(--main-color);
}

.about .read-btn{
    font-weight: bold;
    font-size: 1.5rem;
}

/* COURSES */

.differentials{
    min-height: 100vh;
    padding: 4rem;
}

.differentials  .title{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 4rem;
}
.heading{
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-color);
    text-transform: uppercase;
}

.heading span{
    color: black;
    text-transform: uppercase;
}

.differentials .slide{
    width: 30rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 4rem;
    padding: 2rem;
    transition: .3s ease-in-out;
    user-select: none;
}
.differentials .slide:hover{
    background-color: var(--main-color-hover);
}

.differentials .slide img{
    height: 25rem;
    width: 100%;
    border-radius: 2rem;
}

.differentials .slide h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.differentials .slide p{
   line-height: 2;
   font-size: 1.6rem;
   color: #000;
}

.swiper-pagination-bullet{
    background-color: var(--main-color);
} 
.swiper-pagination-bullet-active{
    background-color: var(--main-color);
}
