:root{
    /* Colors */
    --body: #332F2E;
    --main-color: #fff;
    --main-color-hover: rgb(184, 178, 178);
    --secondary-color:red;
    --description-home: #fff;

    /* Sizes */

    /* Effects */
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    --bg-opacity: rgba(19, 18, 18, 0.747);
    --blur: blur(20px);
    
}